* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textarea {
  width: 1050px;
  min-height: 140px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: lightgrey;
  border: 2px solid black;
}

.information {
  margin-top: 20px;
  font-size: 25px;
}

.keyboard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: seagreen;
  width: 1050px;
}

.button-item {
  list-style: none;
  margin: 6px;
  padding: 14px 20px;
  background-color: limegreen;
  font-size: 20px;
  color: white;
  font-weight: 400;
  border-radius: 10px;
}

.special {
  background-color: darkgreen;
}

.backspace {
  width: 156px;
}

.enter {
  width: 125px;
}

.shift {
  width: 135px;
}

.arrow {
  width: 55px;
}

.space {
  width: 423px;
}

.active {
  background-color: darkslategrey;
  border-radius: 10px;
}